
#quest
{
	text-decoration: underline;
	text-shadow: 2px 2px 8px #0000FF;
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {
	vertical-align: middle;
	border-radius: 10px;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 90%;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-size: contain;
  z-index: -1;
}

@media screen and {max-width: 600px}{
  .slideshow-container {
  max-width: 100%;
  height: 90%;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-size: contain;
  z-index: -1;
}
}
.top_right
{
	position: absolute;
	top:0;
	right:0;
	height:80%;
  z-index: -1;
  	max-width:50%;
  	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	margin-top: 50px;
	box-sizing: border-box;
	background-size: contain;
}
	


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.heading
{

	background-size:contain;
	max-width: 50%;	
	height: 750px;

}

body
{
	background-image:url("Images/Space.jpg");
	background-size:cover;
}


h1
{
	color:rgba(200,250,56,1);
	max-width: 25%;
	text-align: center;
  display: inline-block;
  text-shadow: 2px 2px 8px #FFF000;
	
	
}
h2
{
	color:rgba(255,255,255,1);
}
h3
{
	color:rgba(200,65,16,1);
	font-style: italic;
	text-decoration:underline;
	text-shadow: 2px 2px 8px #FF0056;
}

h4
{
	text-shadow: 2px 2px 8px #FFFF00;
	color: rgba(250,250,250,1);
}

.button {
  border: none;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  background-color: white;

}


.button:hover,
.button:focus {
  background-color: #939492;
  color: white;
  cursor: pointer;
}


.Next {
  display: inline-block;
  background-color: #67f5f2;
  padding: 10px 30px;
  position: relative;
  left: 10%;
  margin: 4px 2px;
  border-radius: 10px;
  font-size: 18px;
  border:none;
  cursor: pointer;
  width: 150px;
}
.Next:hover {
  background-color: #67f5f2; 
  color: #496652;
  padding-right: 25px;
}
#ne {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#ne:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #496652;

}

.Next:hover #ne {
  padding-right: 30px;
}

.Next:hover #ne:after {
  opacity: 1;
  right: 0;
}
.submit {
  display: inline-block;
  background-color: #67f5f2;
  padding: 10px 30px;
  position: relative;
  left: 10%;
  margin: 4px 2px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
}

.submit:active {
  background-color: #026b69;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}
.submit:hover {
  background-color: #026b69;
  cursor: pointer;
  color: white;

}


#modalContent {
  display: none;
  position: fixed;
  top: 30px;
  left: 30%;
  background-color: green;
  margin: auto;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 40px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
  z-index: 1;
  opacity: 0.9;
  font-size: 20px;
  color: white;
  border-radius: 16px;

}



.Sub{
  display: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.4);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#submitMessage {
  border-radius: 16px;
  overflow: auto;
  position: relative;
  top:30%;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 35%;
  background-color: white ;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 10px;
  

}

#exit {
  position: relative;
  bottom: 0;
  left: 45%;
  margin: 10px 10px;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;

}

#exit:hover {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 16px;
  background-color: #ef5350;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.progressBar {
  background-color: #9ea19c;
  z-index: 100;
  width: 100%;
  height: 10px;
  position: relative;
  left: 10%;
  border-radius: 10px;
  color: black;
  text-align: center;
}
.progressMade {
  background-color: green;
  width: 0%;
  position: relative;
  height: 100%;
  border-radius: 10px;

  padding-top: 10px;
  font-size: 16px;
}

#correctAudio,
#incorrectAudio {
  display: none;
}



